<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
        <li class="current"><a href="/login">Login</a></li>
    </ul>
</header>
<form>
    <p>Username:</p>
    <input type="text"/>
    <p>Password:</p>
    <input type="password"/>
    </br>
    </br>
    <input type="submit" value="Login"/>
</form>
</body>
</html>